src/test/resources/jaxb/elementclass.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="complex" type="AComplexType"/>

    <xsd:complexType name="AComplexType" mixed="true">
        <xsd:sequence>
            <xsd:element name="ASimpleElement" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>


