src/test/resources/jaxb/flight.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">


    <xsd:element name="flight" type="FlightType"/>

    <xsd:element name="comment" type="xsd:string"/>

    <xsd:complexType name="FlightType">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="airplanetype" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>