src/test/java/personal/xml/jaxb/bindingframework/marshalling/validation/address.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="address" type="address" />



	<xs:complexType name="address">
		<xs:sequence>
			<xs:element name="street" type="xs:string" minOccurs="0" />
			<xs:element name="city" type="xs:string" minOccurs="0" />
			<xs:element name="province" type="xs:string" minOccurs="0" />
			<xs:element name="zipCode" type="limitednumber"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="limitednumber">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>

